html,
body {
  height: 100%;
  text-align: left;
  background-color: #f3f3f3;
  background-size: cover;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 30px;
  font-weight: 700;
}

#tagline {
  font-size: 12px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-weight: 700;
}

.btn {
  margin-top: 23px;
}

svg:not(:root) {
  overflow: visible;
}

#unit {
  color: #6b6b76;
  font-size: 10px;
}

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
